@(name: String)
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Banco @if(name != "") { @name } else { Genérico }</title>
  </head>

  <body>
    <h1>Banco @if(name != "") { @name } else { Genérico }</h1>

    <p>
      Aqui se encontra a aplicação do Banco @if(name != "") { @name } else { Genérico }. Ela funciona com um
      servidor de contas para possibilitar as transações bancárias internas e externas.
    </p>
    <p>
      Obtenha a lista de clientes cadastrados em formato JSON clicando no link abaixo.
    </p>

    <ul>
      <li><a href="/v1/clientes">/v1/clientes</a></li>
    </ul>
  </body>
</html>
