@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Banco</title>
  </head>

  <body>
    <h1>Banco</h1>

    <p>
      Aqui se encontra a aplicação de um dos bancos da rede. Ela fornece aos seus clientes
      as operações de consultas de saldo, saques, depósitos, transferências para clientes do mesmo banco
      e transferências para clientes de outros bancos.
    </p>

    <p>
      Obtenha a lista de clientes deste banco em formato JSON clicando no link abaixo.
    </p>
    <ul>
      <li><a href="/v1/clients">/v1/clients</a></li>
    </ul>
  </body>
</html>
